<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="f0873d4f-de42-4606-b52b-0be5c9643fc1" Publisher="CN=.Sylvain" Version="1.0.0.0" />
  <Properties>
    <DisplayName>Hello World</DisplayName>
    <PublisherDisplayName>.Sylvain</PublisherDisplayName>
    <Logo>Assets\ChecknCookStore.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="MainPage.App">
      <m2:VisualElements DisplayName="Check 'n' Cook" Square150x150Logo="Asset/Check n Cook.png" Square30x30Logo="Assets\ChecknCookSmall.png" Description="Check 'n' Cook" ForegroundText="light" BackgroundColor="#FFFFFF">
        <m2:DefaultTile Square70x70Logo="Asset/Check n Cook.png" Wide310x150Logo="Asset/Check n Cook.png" Square310x310Logo="Asset/Check n Cook.png">
        </m2:DefaultTile>
        <m2:SplashScreen Image="Assets\Check n Cook.png" />
      </m2:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <DeviceCapability Name="location" />
  </Capabilities>
</Package>